@media screen and (max-width: 414px) {
   body{
    background-size: cover;
   }
    
      /* 首頁   */

  .nav_icon2{
    z-index: 1;
  }

     .top1{
    display: none;
		position: absolute;
		right: 0;
		background-color: black;
		width: 100%;   
    }

    .top li a{    
     margin-left: 100px;
    }

     .header_icon {
      justify-content: center;
      margin-right: 200px;
    }

  
/* 漢堡排 */
.on{
  display: block;
}
.toggle{
z-index: 3;
    position: fixed;
    top: 30px;
    right: 20px;
}

.toggle span{  
  display: block;
    background: orange;
    width: 30px;
    height: 5px;
    border-radius: 3px; 
    transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);   
}

.toggle span:nth-child(1) {
  margin-bottom: 5px;
  
}

.toggle span:nth-child(3) {
  margin-top: 5px;
}

.toggle.open span:nth-child(1) {
  margin-bottom: -5px;
  transform: rotate(-225deg);
  
}

.toggle.open span:nth-child(2){
  transform: rotate(-225deg);
  
}

.toggle.open span:nth-child(3){
  margin-top: -5px;
  transform: rotate(225deg); 
}

    header .top1{  
        justify-content: start;    
      }

      .fa-bars {
        display: block;
        color: white;
        font-size: 28px;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 10000;        
    }
  
    .top1 > li {
        width: 30px;
    }

    .top a {
        height: auto;
        font-size: 16px;       
    }

    .mainitem{       
        flex-direction: column;
    }

    .mainitem li {
        border: 1px solid white;
    }

    .mainitem a {
        
        height: 300px;
    } 

    .content h2::after{
        left: 46.5%;
    }

    /* 最下方導覽列 */

    .info li a{
        display: block;
    }

    .info li {
        word-break: break-all;
        width: 100px;
    }

    .mySwiper0 img{
        height: 200px;
    }

    /* 首頁下面swiper */

    .swiper{
        margin-top: 30px;
        height: 500px;
    }    
    
    .swiper a{
       
        margin: 0 auto;
    }
    .swiper img{
        width: 200px;
        margin: 0 auto;
        
    }

    .swiper-slide {
        margin-bottom: 110px;
    }

    .swiper-slide a{
        padding-top: 0;
        
    }

    .swiper-button-next {
        right: 20px;
        transform: rotate(90deg);
      }

      .swiper-button-prev {
        left: 20px;
        transform: rotate(90deg);
      }

      /* 筆電專區 */

.tp1-ul{
    flex-wrap: nowrap;
    flex-direction: column;
}

.tp1-ul img{
    display: block;
    margin: 0 auto;
}

/* 認識筆電 */
.laptop-item ul{
     flex-direction: column;
    flex-wrap: nowrap;
  }

  .laptop-item li{
    margin: 0 auto;
  }

  .cover img{
    width: 100px;
  }

  /* 關於我們 */

  .ablr{
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }

  .ablr div{
    margin: 0 auto;
  }

  .ablr h2{
    font-size: 36px;
  }

  .ablr p{
    display: block;
    white-space: normal;
    font-size: 22px;
    text-align:left;
  }

  .ab1-l{
    order: 1;
  }

  .ab1-r{
    order: 2;
  }
  .ab2-r{
    order: 3;
  }

  .ab2-l{
    order:4
  }

  .ab3-l{
    order: 5;
  }

  .ab3-r{
    order: 6;
  }

  .ab4-r{
    order: 7;
  }

  .ab4-l{
    order: 8;
  }

  .ab5-l{
    order: 9;
  }

  .ab5-r{
    order: 10;
  }

  /* 聯絡我們 */

  .ct{
    flex-direction: column;
    
  }

  .ct-left, .ct-right{
    width: 100%;
    margin: auto;
  }

  .ct-left h2{
    /* width: 330px; */
    margin: 0 auto;
    font-size: 30px;
  }

  .contact-item{
    margin-bottom:30px ;
  }

  .contact-item textarea{
    height: auto;
  }

  /* 購物車 */

  .allcart h3{
    text-indent: 10px;
  }


  .headcart td img{
    width: 80px;
  }

  .headcart table{
    margin: 0 auto;
  }

  .headcart table thead{
    height: 20px;
    line-height: 20px;
    font-size: 16px;
  }

  tbody > tr{
    font-size: 16px;
  }
}

