@media screen and (max-width: 414px) {
    
   
    .all{
        width: 100%;
        
    }

   body{
    background-size: cover;
   }

    
        
	.top{
		height: 80px;
		padding: 10px 0 10px 10px;		
		border-bottom: 1px solid white;
		background-color: black;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		box-sizing: border-box;
        
	}

    .top1 li{
        display: none;
        flex-direction: column;
		position: absolute;
		right: 0;
		top: 61px;
		background-color: #fff;
		width: 100%;
    }

    .top1 :hover



    .top .top1 .fa-bars{
        display: block;
       
        font-size: 28px;

        position: absolute;
        top: 25px;
        right: 20px;
        
        
    }

    .top1 img{
        padding: 0;
        width: 50px;
        height: 60px;
        float: left;
       
        
    }
    

    .top1 > li {
        width: 50px;
    }

    .top a {
        width: 20px;
        font-size: 16px;
    }

    .content img{
        width: 100%;
    }

    .mainitem{
        width: 100%;
        flex-direction: column;
    }

    .mainitem li {
        border: 1px solid white;
    }

    .mainitem a {
        
        height: 300px;
    } 

    article h2::after{
        left: 46.5%;
    }

    /* 最下方導覽列 */

    .info li a{
        display: block;
    }

    .info li {
        /* writing-mode: vertical-rl; */
        /* padding: 0 30px; */
        word-break: break-all;
        width: 100px;
    }

    .mySwiper0 img{
        height: 200px;
    }

    /* 首頁下面swiper */

    .swiper{
        margin-top: 30px;
        height: 500px;
    }    
    
    .swiper a{
       
        margin: 0 auto;
    }
    .swiper img{
        width: 200px;
        margin: 0 auto;
        
    }

    .swiper-slide {
        margin-bottom: 110px;
    }

    .swiper-slide a{
        padding-top: 0;
        
    }

    .swiper-button-next {
        right: 20px;
        transform: rotate(90deg);
      }

      .swiper-button-prev {
        left: 20px;
        transform: rotate(90deg);
      }

      /* 筆電專區 */

.tp1-ul{
    flex-wrap: nowrap;
    flex-direction: column;
}

.tp1-ul img{
    display: block;
    margin: 0 auto;
}

/* 認識筆電 */
.laptop-item ul{
     flex-direction: column;
    flex-wrap: nowrap;
  }

  .laptop-item li{
    margin: 0 auto;
  }

  .cover img{
    width: 100px;
  }

  /* 關於我們 */

  .ablr{
    flex-direction: column;
    flex-wrap: nowrap;
    
  }

  .ablr div{
    margin: 0 auto;
  }

  .ablr h2{
    font-size: 30px;
  }

  .ablr p{
    display: block;
    white-space: normal;
    font-size: 22px;
    text-align:left;
  }

  .ab1-l{
    order: 1;
  }

  .ab1-r{
    order: 2;
  }
  .ab2-r{
    order: 3;
  }

  .ab2-l{
    order:4
  }

  .ab3-l{
    order: 5;
  }

  .ab3-r{
    order: 6;
  }

  .ab4-r{
    order: 7;
  }

  .ab4-l{
    order: 8;
  }

  .ab5-l{
    order: 9;
  }

  .ab5-r{
    order: 10;
  }

}

